In [5]:
#import Statment
import pandas as pd
import numpy as np
import os

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [6]:
# Load Data
training = pd.read_csv('./data/dataa.csv')
training.head()

   Data1  Data2  Data3  Data4  Data5  Result
0     30     45     70     12     12       0
1     10     45     52     53     25       0
2     50     12     25    274     42       0
3      4     12    254     25     35       1
4     40     46     24      0     25       1

In [7]:
# train a C45 decision tree and save the tree as an XML file
model = DecisionTreeClassifier(min_samples_split=2)

#pyC45.train(training_obs, training_cat, "DecisionTree.xml")

In [8]:
X1=training.iloc[:,:-1]
Y1=training["Result"]
X1

    Data1  Data2  Data3  Data4  Data5
0      30     45     70     12     12
1      10     45     52     53     25
2      50     12     25    274     42
3       4     12    254     25     35
4      40     46     24      0     25
5      40    350     21    124     75
6      50     25     21     14      5
7      52     25     21     53     25
8       0     24     35     86     22
9       2     23     75     27     22
10      1     12     35     25    114
11     44     56     25    886      5
12     45    214     25     28    258
13      8    245     25     25     25
14     55     25     35     25     42
15      5     53     25     75     25
16     32     25     24     85     75

In [9]:
df=model.fit(X1, Y1)
df

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [10]:
predict=df.predict(X1)
predict

array([0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1], dtype=int64)

In [11]:
from sklearn.metrics import accuracy_score

accuracy_score(predict,Y1)

1.0